/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
    padding-top: 10px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}
.hamburger:hover {
    opacity: 0.7;
}
.hamburger.is-active:hover {
    opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #000;
}

.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 30px;
    height: 2px;
    background-color: var(--card-text-color-main);
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -10px;
}
.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--spin .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#toggle-menu {
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;

    [dir="rtl"] & {
        left: 0;
        right: auto;
    }

    @include respond(md) {
        display: none;
    }

    outline: none;

    &.is-active {
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            background-color: var(--accent-color);
        }
    }
}
/* Menu style */
#main-menu {
    /* 去除列表样式 */
    list-style: none;
    /* 允许垂直滚动 */
    overflow-y: auto;
    /* 允许菜单增长 */
    flex-grow: 1;
    /* 设置字体大小 */
    font-size: 1.4rem;
    /* 设置背景颜色 */
    background-color: var(--card-background);

    /* 设置阴影效果 */
    box-shadow: var(--shadow-l1);
    /* 默认隐藏菜单 */
    display: none;
    /* 设置外边距 */
    margin: 0 calc(var(--container-padding) * -1);

    /* 设置内边距 */
    padding: 30px 30px;

    /* 针对大屏幕的响应式调整 */
    @include respond(xl) {
        padding: 15px 0;
    }

    /* 设置子元素的排列方向和间距 */
    &, .menu-bottom-section ol {
        flex-direction: column;
        gap: 30px;

        /* 针对大屏幕的响应式调整 */
        @include respond(xl) {
            gap: 25px;
        }
    }

    /* 显示菜单 */
    &.show {
        display: flex;
    }

    /* 针对中等屏幕的响应式调整 */
    // 在响应式布局中，当屏幕尺寸为中等（md）时应用以下样式
    @include respond(md) {
        // 设置 flex 容器的对齐方式为底部对齐
        align-items: flex-end;
        // 启用 flex 布局
        display: flex;
        // 设置背景颜色为透明
        background-color: transparent;
        // 设置内边距为 0
        padding: 0;
        // 设置盒阴影为无
        box-shadow: none;
        // 设置外边距为 0
        margin: 0;
    }

    /* 针对小屏幕的响应式调整 */
    @include respond(sm) {
        flex-direction: row;
        gap: 10px;
    }

    /* 列表项样式 */
    li {
        position: relative;
        vertical-align: middle;
        padding: 0;

        /* 针对中等屏幕的响应式调整 */
        @include respond(md) {
            width: 100%;
        }

        /* 针对小屏幕的响应式调整 */
        @include respond(sm) {
            width: auto;
        }
    }
}

        /* 图标样式 */
        svg {
            stroke: currentColor;
            stroke-width: 1.33;
            width: 30px;
            height: 30px;
        }

        /* 链接样式 */
        a {
            height: 100%;
            display: inline-flex;
            align-items: center;
            color: var(--body-text-color);
            gap: var(--menu-icon-separation);
        }

        /* 文本样式 */
        span {
            flex: 1;
        }

        /* 当前选中项样式 */
        &.current {
            a {
                color: var(--accent-color);
                font-weight: bold;
            }
        }

        /* 底部菜单部分样式 */
        &.menu-bottom-section {
            margin-top: auto;

            ol {
                display: flex;
                padding-left: 0;
            }
        }
    }
}

.menu-social {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;

    svg {
        width: 40px;
        height: 40px;
        stroke: var(--body-text-color);
        stroke-width: 1.33;
    }
}
