/* Menu style */
#main-menu {
    display: flex; /* 默认显示菜单 */
    flex-direction: column; /* 设置菜单项的排列方向 */
    gap: 30px; /* 设置菜单项之间的间距 */
    padding: 30px 30px; /* 设置内边距 */
    background-color: var(--card-background); /* 设置背景颜色 */
    box-shadow: var(--shadow-l1); /* 设置阴影效果 */
    margin: 0 calc(var(--container-padding) * -1); /* 设置外边距 */
    font-size: 1.4rem; /* 设置字体大小 */
    overflow-y: auto; /* 允许垂直滚动 */

    @include respond(xl) {
        padding: 15px 0;
    }

    li {
        position: relative;
        vertical-align: middle;
        padding: 0;

        svg {
            stroke: currentColor;
            stroke-width: 1.33;
            width: 40px;
            height: 40px;
        }

        a {
            height: 100%;
            display: inline-flex;
            align-items: center;
            color: var(--body-text-color);
            gap: var(--menu-icon-separation);
        }

        span {
            flex: 1;
        }

        &.current {
            a {
                color: var(--accent-color);
                font-weight: bold;
            }
        }

        &.menu-bottom-section {
            margin-top: auto;

            ol {
                display: flex;
                padding-left: 0;
            }
        }
    }
}

/* Container style */
.container {
    display: flex;
    flex-direction: column;

    .left-sidebar,
    .right-sidebar {
        display: none; /* 默认隐藏侧边栏 */
    }

    main.main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: var(--section-separation);
        padding-top: var(--main-top-padding);
    }

    @include respond(md) {
        flex-direction: row; /* 响应式调整为行内布局 */
        align-items: flex-start;

        .left-sidebar,
        .right-sidebar {
            display: flex; /* 显示侧边栏 */
        }

        .left-sidebar {
            order: -3;
            max-width: var(--left-sidebar-max-width);
        }

        .right-sidebar {
            order: -1;
            max-width: var(--right-sidebar-max-width);
        }

        main.main {
            flex-grow: 1;
            flex-direction: column;
            gap: var(--section-separation);
            padding-top: var(--main-top-padding);
        }
    }
}

/* Main container style */
.main-container {
    min-height: 100vh;
    padding: 0 15px;
    gap: var(--section-separation);
    padding-top: var(--main-top-padding);

    @include respond(md) {
        padding: 0 20px;
    }
}