{{ define "body-class" }}
    article-page
    {{/* 
        Enable the right sidebar if
            - Widget different from 'TOC' is enabled
            - TOC is enabled and not empty
    */}}
    {{- $HasWidgetNotTOC := false -}}
    {{- $TOCWidgetEnabled := false -}}
    {{- range .Site.Params.widgets.page -}}
        {{- if ne .type "toc" -}}
            {{ $HasWidgetNotTOC = true -}}
        {{- else -}}
            {{ $TOCWidgetEnabled = true -}}
        {{- end -}}
    {{- end -}}

    {{- $TOCManuallyDisabled := eq .Params.toc false -}}
    {{- $TOCEnabled := and (not $TOCManuallyDisabled) $TOCWidgetEnabled -}}
    {{- $hasTOC := ge (len .TableOfContents) 100 -}}
    {{- .Scratch.Set "TOCEnabled" (and $TOCEnabled $hasTOC) -}}
    
    {{- .Scratch.Set "hasWidget" (or $HasWidgetNotTOC (and $TOCEnabled $hasTOC)) -}}
{{ end }}

{{ define "main" }}
    {{ partial "article/article.html" . }}  <!-- 包含文章主体部分 -->

    {{ if .Params.links }}
        {{ partial "article/components/links" . }}  <!-- 如果有链接参数，包含链接组件 -->
    {{ end }}

    {{ partial "article/components/related-content" . }}  <!-- 包含相关内容组件 -->
     
    {{ if not (eq .Params.comments false) }}
        {{ partial "comments/include" . }}  <!-- 如果评论参数不为false，包含评论组件 -->
    {{ end }}

    {{ partialCached "footer/footer" . }}  <!-- 包含并缓存页脚部分 -->

    {{ partialCached "article/components/photoswipe" . }}  <!-- 包含并缓存图片滑动组件 -->
{{ end }}

{{ define "left-sidebar" }}

{{ if (.Scratch.Get "TOCEnabled") }}
    <div id="article-toolbar" style="position: sticky;top: 5px;z-index: 1000;">
        <a href="{{ .Site.BaseURL | relLangURL }}" class="back-home">
            {{ (resources.Get "icons/back.svg").Content | safeHTML }}
            <span>{{ T "article.back" }}</span>
        </a>
    </div>
{{ end }}

{{ partial "sidebar/left.html" . }}  <!-- 无论是否启用目录，都包含左侧边栏 -->

{{ end }}

{{ define "right-sidebar" }}
    {{ if .Scratch.Get "hasWidget" }}{{ partial "sidebar/right.html" (dict "Context" . "Scope" "page") }}{{ end}}  <!-- 如果有小部件，包含右侧边栏 -->
{{ end }}