{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}

<!-- 首页欢迎字幅板块 -->
<div class="welcome">
    <p style="font-size: 2rem; text-align: center; font-weight: bold">
      <span class="shake">👋</span>
      <span class="jump-text1">欢迎来到</span>
      <span class="jump-text2">领创博客</span>
      <a href="https://www.xn--5brr03o.top/" target="_blank" style="color:#0087f5">点我访问</a>
      <span class="jump-text4" style="color:#e99312">领创工作室</span
      ><span class="jump-text5" style="color:#e99312">官网</span>
    </p>
</div>
<!-- ------首页欢迎字幅板块------ -->
<!-- 下面也是主题自带的,只展示一部分,其余省略 -->

  
    <section class="article-list">
        {{ range $index, $element := $pag.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}